.mat-sidenav-container,
.mat-sidenav-content {
    height: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px;
    padding: 0.75em 0.75em 0 0.75em;
    border: 1px solid grey;
}

.mat-form-field-full-width {
    width: 100%
}
.round{
    border-radius: 1rem !important;
}
.mat-headline{
    letter-spacing: 0.15rem !important;
}
